<p>dropdowns works!</p>
<!-- <div class="search_select_box">
  <select class="w-100" data-live-search="true">
    <option>Falta por limpieza</option>
    <option>Falta por mascota</option>
    <option>Falta por ruido</option>
    <option>Falta por indisciplina</option>
    <option>Falta por agresion</option>
    <option>Eventualidad de alcohol</option>
    <option>Falta por sustancias psicotrópicas</option>
  </select>
</div> -->
<div class="search_select_box">
  <select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
    <option value="5"></option>
    <option value="6"></option>
    <option value="7"></option>
  </select>
</div>
