/* Estilos generales de la tabla */
.table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 8px !important;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.45);
  text-align: left;
}

.table-general {
  border-radius: 8px;
}

/* Estilos de las clases de puntuación */
td.score-green, .table td.score-green, .table th.score-green {
  background-color: #7cf082;
  color: white;
}

td.score-blue, .table td.score-blue, .table th.score-blue {
  background-color: rgb(86, 113, 204);
  color: white;
}

td.score-yellow, .table td.score-yellow, .table th.score-yellow {
  background-color: rgb(253, 253, 142);
  color: black;
}

td.score-orange, .table td.score-orange, .table th.score-orange {
  background-color: rgb(247, 198, 107);
  color: white;
}

td.score-red, .table td.score-red, .table th.score-red {
  background-color: rgb(224, 79, 79);
  color: white;
}

/*  Que se pinte solo el Score y no el cuadro
.score-green {
  color: #5cb85c; 
}

.score-blue {
  color: #5bc0de; 
}

.score-yellow {
  color: #f0ad4e; 
}

.score-orange {
  color: #ff9800; 
}

.score-red {
  color: #d9534f; 
}

.score-label {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 5px;
}
*/

/* Estilos para el fondo del modal */
.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
}


/* Estilos generales del modal */
.modal-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 50%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: top;
justify-content: center;
z-index: 9999;
}

.modal-content {
  margin-top: 15rem;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
max-width: 400px;
width: 25rem;
height: 10rem;
}

/* Estilos para ocultar el modal por defecto */
.modal-container.hidden {
display: none;
}

